/* HEADER STYLES */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #ffecef;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #dc3545;
}
.search-bar{
    background: white;
    height: 40px;
    border-radius: 10px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}
.search-bar input{
    border: none;
    outline: none;
    width: 200px;
    height:40px;
}
.search-btn{
    color: red;
}

.profile-icon{
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.profile-icon:hover ,.profile-icon:focus, .profile-icon:active{
    color: white;
}

.itemz{
    
    font-size: 20px;
    
}
.itemz a{
    text-decoration: none;
    padding: 30px;
    color: black;
}
.itemz .fas{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.menu-items{
    margin-top: 10px;
    font-size: 20px;
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-items:hover{
    background-color: #dc3545;
    
}
.menu-items a:hover{
    color: white;
}
.hat-bg-info{
    background-color: #ffecef;
}
.hero-m{
    margin-top: 120px;
}
.slide-title{
    color: #dc3545;
}
.buy-btn{
    background-color: #dc3545;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    margin-top: 30px;
}
.buy-btn:hover{
    background-color: #212529;
    color: white;
}

/* MAIN SECTION STYLES */
.dimension {
    width: 500px;
    height: 300px;
}

.nav-tabs .nav-link.active {
    background-color: #dc3545;
    color: #fff;
    
}
.nav-tabs{
    border-bottom: 1px solid #dc3545;
    margin-top: 50px;
}
.nav-tabs .nav-link {
    background-color: #fff;
    color: #dc3545;
    border-bottom: 1px solid #dc3545;
    margin-right: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-tabs .nav-link:hover {
    background-color: #dc3545;
    color: white;
}

.tab-content {
    
    padding: 20px;
}
.card-img-w{
    padding: 20px;
    background-color: #ffecef;
}
.hat-btn{
    background-color: #dc3545;
    color: white;

}
.hat-btn:hover{
    background-color: #212529;
    color: white;
}
