/* HEADER STYLES */
.search-bar{
    
    background: white;
    height: 40px;
    border-radius: 10px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}
.search-bar input{
    border: none;
    outline: none;
    width: 200px;
    height:40px;
}
.search-btn{
    color: red;
}

.profile-icon{
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.profile-icon:hover ,.profile-icon:focus, .profile-icon:active{
    color: white;
}

.itemz{
    
    font-size: 20px;
    
}
.itemz a{
    text-decoration: none;
    padding: 30px;
    color: black;
}
.itemz .fas{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.menu-items{
    margin-top: 10px;
    font-size: 20px;
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-items:hover{
    background-color: #dc3545;
    
}
.menu-items a:hover{
    color: white;
}